<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bunnyxt.tdd.dao.user.BindEmailTaskDao">
    <resultMap id="BaseResultMap" type="com.bunnyxt.tdd.model.user.BindEmailTask">
        <id column="id" property="id" />
        <result column="added" property="added" />
        <result column="userid" property="userid" />
        <result column="email" property="email" />
        <result column="bindkey" property="bindkey" />
        <result column="code" property="code" />
        <result column="expired" property="expired" />
        <result column="status" property="status" />
    </resultMap>

    <sql id="BaseColumnList">
        id, added, userid, email, bindkey, code, expired, status
    </sql>

    <insert id="addBindEmailTask">
        insert into tdd_bind_email_task(added, userid, email, bindkey, code, expired, status)
        values(#{added}, #{userid}, #{email}, #{bindkey}, #{code}, #{expired}, #{status})
    </insert>

    <select id="queryBindEmailTaskByBindKey" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from tdd_bind_email_task
        where bindkey = #{bindkey}
    </select>

    <update id="updateBindEmailTaskStatusByBindKey">
        update tdd_bind_email_task
        set status = #{status}
        where bindkey = #{bindkey}
    </update>

    <update id="updateLaterSucceedBindEmailTaskStatus">
        update tdd_bind_email_task
        set status = #{status}
        where userid = #{userid} and email = #{email} and status = 0
    </update>

</mapper>