<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bunnyxt.tdd.dao.user.UserFavoriteMemberDao">
    <resultMap id="BaseResultMap" type="com.bunnyxt.tdd.model.user.UserFavoriteMember">
        <id column="id" property="id" />
        <result column="added" property="added" />
        <result column="userid" property="userid" />
        <result column="mid" property="mid" />
    </resultMap>

    <sql id="BaseColumnList">
        id, added, userid, mid
    </sql>

    <insert id="addUserFavoriteMember">
        insert into
        tdd_user_favorite_member(added, userid, mid)
        values
        (#{added}, #{userid}, #{mid})
    </insert>

    <delete id="deleteUserFavoriteMember">
        delete from
        tdd_user_favorite_member
        where
        userid = #{userid}
        and
        mid = #{mid}
    </delete>

    <select id="queryUserFavoriteMember" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList" />
        from
        tdd_user_favorite_member
        where
        userid = #{userid}
        and
        mid = #{mid}
    </select>

    <select id="queryUserFavoriteMemberCount" resultType="Integer">
        select
        count(1)
        from
        tdd_user_favorite_member
        where
        mid = #{mid}
    </select>

    <select id="queryUserFavoriteMemberUsers" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList" />
        from
        tdd_user_favorite_member
        <where>
            and mid = #{mid}
            <if test="start_ts > 0">
                and added >= #{start_ts}
            </if>
            <if test="end_ts > 0">
                and added &lt;= #{end_ts}
            </if>
        </where>
        order by
        ${order_by}
        <if test="desc == 1">
            desc
        </if>
        limit
        #{offset}, #{ps}
    </select>

    <select id="queryUserFavoriteMemberUsersCount" resultType="Integer">
        select
        count(1)
        from
        tdd_user_favorite_member
        <where>
            and mid = #{mid}
            <if test="start_ts > 0">
                and added >= #{start_ts}
            </if>
            <if test="end_ts > 0">
                and added &lt;= #{end_ts}
            </if>
        </where>
    </select>

</mapper>