# Local-only Spring overrides. Copy to application-local.properties
# next to pom.xml (the filename is gitignored) before running the app.
#
# Do not place this file under src/main/resources/. That directory is
# packaged into the JAR.
#
# Production does not use this file. The systemd unit loads
# --spring.config.additional-location=file:/etc/tdd-backend/

spring.datasource.url=jdbc:mysql://localhost:3306/tdd?useUnicode=true&characterEncoding=utf8&useSSL=false
spring.datasource.username=root
spring.datasource.password=root

tdd.mail.username=
tdd.mail.password=
tdd.mail.smtp.host=
tdd.recaptcha.secret=
tdd.auth.salt=
