<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bunnyxt.tdd.dao.video.record.rank.WeeklyArchiveOverviewDao">
    <resultMap id="WeeklyArchiveOverviewResultMap" type="com.bunnyxt.tdd.model.video.record.rank.WeeklyArchiveOverview">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="start_ts" property="start_ts" />
        <result column="end_ts" property="end_ts" />
    </resultMap>

    <sql id="WeeklyArchiveOverviewColumnList">
        id, name, start_ts, end_ts
    </sql>

    <select id="queryWeeklyArchiveOverviews" resultMap="WeeklyArchiveOverviewResultMap">
        select
        <include refid="WeeklyArchiveOverviewColumnList" />
        from
        tdd_video_record_rank_weekly_archive_overview
    </select>

    <select id="queryWeeklyArchiveOverviewByArchId" resultMap="WeeklyArchiveOverviewResultMap">
        select
        <include refid="WeeklyArchiveOverviewColumnList" />
        from
        tdd_video_record_rank_weekly_archive_overview
        where
        id = #{arch_id}
    </select>
</mapper>