<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bunnyxt.tdd.dao.FrontendInteractionDao">
    <insert id="addFrontendInteraction" parameterType="com.bunnyxt.tdd.model.FrontendInteraction">
        INSERT
        INTO `tdd_frontend_interaction`(`added`, `action`, `message`)
        VALUES(#{added}, #{action}, #{message});
    </insert>
</mapper>