<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bunnyxt.tdd.dao.VideoDao">
    <resultMap id="BaseResultMap" type="com.bunnyxt.tdd.model.Video">
        <result column="id" property="id" />
        <result column="added" property="added" />
        <result column="aid" property="aid" />
        <result column="videos" property="videos" />
        <result column="tid" property="tid" />
        <result column="tname" property="tname" />
        <result column="copyright" property="copyright" />
        <result column="pic" property="pic" />
        <result column="title" property="title" />
        <result column="pubdate" property="pubdate" />
        <result column="description" property="desc" />
        <result column="tags" property="tags" />
        <result column="mid" property="mid" />
        <result column="code" property="code" />
        <result column="v_attribute" property="attribute" />
        <result column="hasstaff" property="hasstaff" />
        <result column="singer" property="singer" />
        <result column="solo" property="solo" />
        <result column="original" property="original" />
        <result column="employed" property="employed" />
        <result column="isvc" property="isvc" />
        <result column="engine" property="engine" />
        <result column="freq" property="freq" />
        <result column="activity" property="activity" />
        <result column="recent" property="recent" />
    </resultMap>

    <sql id="BaseColumnList">
        id, added, aid, videos, tid, tname, copyright, pic, title, pubdate, `desc` description, tags, mid, code, `attribute` v_attribute,
        hasstaff, singer, solo, original, employed, isvc, engine, freq, activity, recent
    </sql>

    <select id="queryVideoByAid" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList" />
        from
        tdd_video
        where
        aid = #{aid}
    </select>
    
    <update id="updateVideoByAid" parameterType="com.bunnyxt.tdd.model.Video">
        update
        tdd_video
        <trim prefix="set" suffixOverrides=",">
            <if test="video.singer != null">
                singer = #{video.singer},
            </if>
            <if test="video.solo != null">
                solo = #{video.solo},
            </if>
            <if test="video.original != null">
                original = #{video.original},
            </if>
            <if test="video.employed != null">
                employed = #{video.employed},
            </if>
            <if test="video.isvc != null">
                isvc = #{video.isvc},
            </if>
            <if test="video.engine != null">
                engine = #{video.engine},
            </if>
            <if test="video.freq != null">
                freq = #{video.freq},
            </if>
        </trim>
        <!--
            # these params should be changed only by spiders
            added = #{video.added},
            videos = #{video.videos},
            tid = #{video.tid},
            tname = #{video.tname},
            copyright = #{video.copyright},
            pic = #{video.pic},
            title = #{video.title},
            pubdate = #{video.pubdate},
            desc = #{video.desc},
            tags = #{video.tags},
            mid = #{video.mid},
            code = #{video.code},
            hasstaff = #{video.hasstaff},
            activity = #{video.activity},
            recent = #{video.recent},
        -->
        where
        aid = #{aid}
    </update>

</mapper>