<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bunnyxt.tdd.dao.VideoRecordDao">
    <resultMap id="BaseResultMap" type="com.bunnyxt.tdd.model.VideoRecord">
        <result column="id" property="id" />
        <result column="added" property="added" />
        <result column="aid" property="aid" />
        <result column="`view`" property="view" />
        <result column="danmaku" property="danmaku" />
        <result column="reply" property="reply" />
        <result column="favorite" property="favorite" />
        <result column="coin" property="coin" />
        <result column="share" property="share" />
        <result column="`like`" property="like" />
    </resultMap>

    <sql id="BaseColumnList">
        id, added, aid, `view`, danmaku, reply, favorite, coin, share, `like`
    </sql>

    <sql id="BaseColumnListWithA">
        a.id, a.added, a.aid, a.`view`, a.danmaku, a.reply, a.favorite, a.coin, a.share, a.`like`
    </sql>

    <select id="queryVideoRecords" resultMap="BaseResultMap" parameterType="Integer">
        select
        <include refid="BaseColumnListWithA" />
        from
        tdd_video_record a
        join (
            select
            id
            from
            tdd_video_record
            <where>
                <if test="aid > 0">
                    and aid = #{aid}
                </if>
                <if test="start_ts > 0">
                    and added >= #{start_ts}
                </if>
                <if test="end_ts > 0">
                    and added &lt;= #{end_ts}
                </if>
            </where>
            <if test="limit == true">
                <choose>
                    <when test="aid > 0 and last_count > 0">
                        order by id desc limit #{last_count}
                    </when>
                    <otherwise>
                        limit
                        #{offset}, #{ps}
                    </otherwise>
                </choose>
            </if>
        ) b
        on
        a.id = b.id
    </select>

    <select id="queryVideoRecordsCount" resultType="Integer">
        select
        count(1)
        from
        tdd_video_record
        <where>
            <if test="aid > 0">
                and aid = #{aid}
            </if>
            <if test="start_ts > 0">
                and added >= #{start_ts}
            </if>
            <if test="end_ts > 0">
                and added &lt;= #{end_ts}
            </if>
        </where>
    </select>

</mapper>